<div class="expenses-tracker-container">
  <div class="expenses-header">
    <div>
      <h2>Overview of {{ monthData.month }} 2022</h2>
    </div>
    <div>Budget: {{monthData.budget | currency}} </div>
    <div>Leftover Budget: 
      <span [ngClass]="monthData.budget - getTotalExpenses() > 0 ? 'safe' : 'danger'"> {{monthData.budget - getTotalExpenses() | currency}} </span>
    </div>
    <div>
        <button class="btn-primary" (click)="decrementMonth()"><</button>
        <button class="btn-primary" (click)="incrementMonth()">></button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses; let i = index" [ngClass]="i%2==0 ? 'even' : 'odd'" >
        <td>{{ expense.title }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount | currency }}</td>
        <td> <button class="btn-danger" (click)="deleteExpense(expense)">X</button> </td>
      </tr>
    </tbody>
  </table>
  <!-- Bound output from newExpenseEvent Emitter -->
  <app-add-expense (newExpenseEvent)="addExpense($event)"></app-add-expense>
</div>
